<%!-- <% colors = ["blue","orange","green"] %>
<label for="fibers">Choose a color:</label>

<select name="fibers" id="colors">
  <%= for color <- colors, do: "<p>" <%= color %> "</p>"=>  %>
</select> --%>
<%!-- 
	Blue
2	Orange
3	Green
4	Brown
5	Slate
6	White
7	Red
8	Black
9	Yellow
10	Violet
11	Rose
12	Aqua --%>
